<div class="edition block">
    <p class="edition-title">Edition: {{reference}}</p>

    <div class="content-briefs">
        <div style="width:100%;font-weight:bold;background-color: #0b0b0b;color:#fefefe;padding:10px 0 10px 7px">Content definitions</div>
        {{#each content-briefs}}
            {{>content-briefs}}
        {{/each}}
        <br class="clear" />
    </div>

</div>


